* {
  font-family: "Fira Sans", sans-serif;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
  color: var(--color-heading);
}

h1 {
  font-size: 1.5rem;
}

.material-symbols-outlined {
  font-size: 20px;
}

#app-container {
  display: flex;
  background-color: #f8f9fa;
}

.main-content {
  margin-left: 300px;
  margin-top: 150px;
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.page-section {
  padding: 2rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  scroll-margin-top: 2rem;
}


