* {
  font-family: "Fira Sans", sans-serif;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
  color: var(--color-heading);
}

h1 {
  font-size: 1.5rem;
}

.material-symbols-outlined {
  font-size: 20px;
}
